[Unit]
Description=Autossh Service
After=network.target

[Service]
Environment="AUTOSSH_PIDFILE=/var/run/autossh.pid"
Environment="AUTOSSH_PORT=0"
ExecStart=/usr/bin/autossh -M 0 -NL 0.0.0.0:1194:127.0.0.1:1194 -o "ServerAliveInterval 10" -o "ServerAliveCountMax 3" <username@remote_server>
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
